
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


#world-map {
    width: 90%;
    height: 500px; 
    margin-bottom: 20px;
    border: 2px solid #ccc;
}


#chart-container {
    width: 80%;
    margin-bottom: 20px;
}

canvas {
    max-width: 100%;
    height: auto;
}


#region-select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
}


.leaflet-container {
    background: #e0e0e0;
    width: 100%;
    height: 100%;
}
